{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME</title>
    <link rel="stylesheet" type="text/css" href="{% static 'estilo.css' %}" media="screen" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>

<body>
    <header>
        <nav class="navbar navbar-dark bg-dark fixed-top">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Mural IFRN</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="offcanvas offcanvas-start text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar"
                    aria-labelledby="offcanvasDarkNavbarLabel">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Menu</h5>
                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"
                            aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Inicio</a>
                            </li>
                            <li class="nav-item">
                                <!--<a class="nav-link" href="{% url 'recente' %}">Recentes</a>-->
                            </li>
                            <!-- <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="" role="button" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                    Dropdown
                                </a>
                                <ul class="dropdown-menu dropdown-menu-dark">
                                    <li><a class="dropdown-item" href="">Action</a></li>
                                    <li><a class="dropdown-item" href="">Another action</a></li>
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                    <li><a class="dropdown-item" href="">Something else here</a></li>
                                </ul>
                            </li> -->
                        </ul>
                        <form class="d-flex mt-3" role="search">
                            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                            <button class="btn btn-success" type="submit">Search</button>
                        </form>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <main>
        <div id="imgElogo">
            <img id="imglogo" src="{% static 'ifrn.png' %}">
            <h3>Instituto Federal de Educação,<br> Ciência e Tecnologia do <br>Rio Grande do Norte</h3>
        </div>
        <hr id="linha">
        <div id="caixaB">
            <div class="caixas">
                <img src="{% static 'images.jpg' %}">
                <hr>
                <H3>INFORMAÇÃO 1</H3>
                <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam, autem non modi, quod placeat qui ea consequuntur in eos harum est nam obcaecati sapiente repellendus natus! Repellat ipsam fugit provident.</P>
            </div>
            <div class="caixas">
                <img src="{% static 'images.jpg' %}">
                <hr> 
                <H3>INFORMAÇÃO 2</H3>
                <P>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem amet eaque mollitia ipsam sint voluptas error, quod, perspiciatis sed nisi id dolorum consequatur fugit repellendus! Doloribus, eius dolorem. Facilis, nihil?</P>
            </div>
            <div class="caixas">
                <img src="{% static 'images.jpg' %}">
                <hr>
                <H3>INFORMAÇÃO 3 </H3>
                <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus laborum animi earum fuga, laboriosam, rerum est natus assumenda fugit reiciendis possimus totam veritatis quod iusto illum modi consectetur ea quibusdam?</P>
            </div>
        </div>
        <div id="caixaC">
            <div class="caixas">
                <img src="{% static 'images.jpg' %}">
                <hr>
                <H3>INFORMAÇÃO 5</H3>
                <P>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illo quasi nam laudantium molestias dolore, pariatur suscipit nemo alias laboriosam odio officia quis repudiandae reiciendis harum rem iure consectetur incidunt unde?</P>
            </div>
            <div class="caixas">
                <img src="{% static 'images.jpg' %}">
                <hr>
                <H3>INFORMAÇÃO 6</H3>
                <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus ut recusandae aliquid placeat voluptatem vitae nemo magnam eligendi, veritatis neque modi nulla, consequatur, rem beatae saepe. Facere voluptatibus nulla repellat.</P>
            </div>
            <div class="caixas">
                <img src="{% static 'images.jpg' %}">
                <hr>
                <H3>INFORMAÇÃO 7 </H3>
                <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos, expedita unde! Assumenda quasi, possimus asperiores dignissimos sed ducimus eius eligendi odio facere commodi itaque iste provident enim deserunt voluptas. Facilis.</P>
            </div>
        </div>
    </main>

    <footer class="footer">
      <address>Criação e Desenvolvimento: <a href="#">Grupo Farias</a> &copy; 2022 - <a href="#">Desenvolvimento caseiro</a></address>
    </footer>
</body>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
    crossorigin="anonymous"></script>

</html>