{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="{% static 'estilo.css' %}" media="screen" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <style>
        body {
            text-align: center;
        }

        main {
            margin-top: 80px;
        }
        .button {
            -webkit-transition-duration: 0.4s; 
            transition-duration: 0.4s;
        }

        .button:hover {
            background-color: #4CAF50;
        }
    </style>
</head>

<body>
    <header>
        <header>
            <nav class="navbar navbar-dark bg-dark fixed-top">
                <div class="container-fluid">
                    <a class="navbar-brand" href="{%url 'home' %}">Mural IFRN</a>
                    <a href="{% url 'home' %}" class="btn button button:hover" type="button" data-bs-toggle="offcanvas"
                            data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar">Voltar</a>
            </nav>
        </header>
    </header>
<main>
        <h2>Página de login</h2>

        <div>
            <form method="post">
                {% csrf_token %}
                <p>Usuário: <input type="text" name="usuario" required></p>
                <p>Senha: <input type="text" name="senha" required></p>
                <p><input class="btn btn-success" type="submit" value="Login"></p>
            </form>
        </div>
        <a href="{% url 'cadastrar_usuario'%}"><button class="btn btn-success">Cadastre-se</button></a>

    </main>
</body>

</html>