<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>registro</title>
</head>
<body>
    <h2>registro</h2>
    <form method="POST">
        {% csrf_token %}
        <p>Usuário: {{form.username}}</p>
        <p>Nome Completo: {{form.nome}}</p>
        <p>E-mail: {{form.email}}</p>
        <p>Senha: {{form.password1}}</p>
        <p>Repetir senha: {{form.password2}}</p>
        <p><input type="submit" value="cadastrar"/></p>
    </form>
</body>
</html>