{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'estilo.css' %}" media="screen" />
    <link rel="stylesheet" type="text/css" href="{% static 'forms.css' %}" media="screen" />
    <title>Cadastro dos Avisos</title>
    <link href="{% static 'estilo.css' %}" rel="stylesheet" type="text/css">

  </head>
<body>
    <h1>CADASTRO DOS AVISOS</h1>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form_aviso.as_p }}
        <p><input type="submit" class="btn btn-verde" value="Cadastrar"/></p>
    </form>
    <p><a href="{% url 'home' %}" class="btn-voltar">Voltar</a></p>
</body>
</html>