{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'estilo.css' %}" media="screen" />
    <link rel="stylesheet" type="text/css" href="{% static 'forms.css' %}" media="screen" />s">
    <title>Nossos clientes</title>
    <style>
        b {
            color:#000;
        }

      </style>
</head>
<body>
    <h1>NOSSOS AVISOS</h1>
    <a href="{% url 'cadastrar_aviso' %}" class="btn btn-verde">CADASTRAR UM NOVO AVISO</a>

    {% for aviso in todos_avisos %}
            <p><b>Título:</b> {{ aviso.titulo }} </p>
            <p><b>autor:</b> {{ aviso.usuario.nome }} </p>
            <a href="{% url 'atualizar_aviso' aviso.id %}" class="btn-voltar"> Editar </a>
            <a href="{% url 'deletar_aviso' aviso.id %}" class="btn-voltar"> Excluir </a>
 
        {% empty %}
            <p><b>AINDA NÃO TEMOS AVISOS CADASTRADOS</b></p>
        {% endfor %}

    <p><a href="{% url 'home' %}" class="btn-voltar">Voltar</a></p>
</body>
</html>