{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'estilo.css' %}" media="screen" />
    <link rel="stylesheet" type="text/css" href="{% static 'forms.css' %}" media="screen" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <title>Cadastro dos Avisos</title>
    <link href="{% static 'estilo.css' %}" rel="stylesheet" type="text/css">
    <style>
        .imagem {
            object-fit: scale-down;
        }
    </style>

  </head>
<body>
    <h1>CADASTRO DOS AVISOS</h1>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <p>Titulo: {{ form_aviso.titulo }}</p>
        <p class="imagem">Imagem: {{ form_aviso.imagem }}</p>
        <p>Descrição: {{ form_aviso.descricao }}</p>
        <p><input type="submit" class="btn btn-success" value="Cadastrar"/></p>
    </form>
    <p><a href="{% url 'home' %}" class="btn btn-success">Voltar</a></p>
</body>
</html>