{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'estilo.css' %}" media="screen" />
    <link rel="stylesheet" type="text/css" href="{% static 'forms.css' %}" media="screen" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <title>Nossos clientes</title>
    <style>
        b {
            color:#000;
        }

        .button {
            -webkit-transition-duration: 0.4s; 
            transition-duration: 0.4s;
        }

        .button:hover {
            background-color: #4CAF50;
        }
      </style>
</head>
<body>
    <h1>SEUS AVISOS</h1>
    {% for aviso in todos_avisos %}
            <p><b>Título:</b> {{ aviso.titulo }} </p>
            <p><b>autor:</b> {{ aviso.usuario.nome }} </p>
            <a href="{% url 'atualizar_aviso' aviso.id %}" class="btn button button:hover" value="Editar aviso"> Editar </a>
            <a href="{% url 'deletar_aviso' aviso.id %}" class="btn button"> Excluir </a>

            <p><a href="{% url 'cadastrar_aviso' %}" class="btn btn-success" value="Cadastrar um novo aviso">Cadastrar um novo aviso</a></p>


        {% empty %}
            <p><b>VOCÊ AINDA NÃO CADASTROU NENHUM AVISO</b></p>
        {% endfor %}

    <p><a href="{% url 'home' %}" class="btn btn-success">Voltar</a></p>
</body>
</html>