{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'estilo.css' %}" media="screen" />
    <link rel="stylesheet" type="text/css" href="{% static 'forms.css' %}" media="screen" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <title>Nossos clientes</title>
    <style>
        b {
            color: #000;
        }

      </style>
</head>
<body>
    <h1>NOSSOS USUÁRIOS</h1>
    <a href="{% url 'cadastrar_usuario' %}" class="btn btn-verde">CADASTRAR UM NOVO USUÁRIO</a>

    {% for usuario in todos_usuario %}
            <p><b>Nome:</b> {{ Usuario.nome }} </p>
            <p><b>Cargo:</b> {{ Usuario.cargo }}</p>
            <a href="{% url 'atualizar_usuario' usuario.id %}" class="btn-voltar"> Editar </a>
            <a href="{% url 'deletar_usuario' usuario.id %}" class="btn-voltar"> Excluir </a>
 
        {% empty %}
            <p><b>AINDA NÃO TEMOS USUÁRIOS CADASTRADOS</b></p>
        {% endfor %}

    <p><a href="{% url 'home' %}" class="btn-voltar">Voltar</a></p>
</body>
</html>