<!DOCTYPE html>
{% load static %}
{% load widget_tweaks %}
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="estilo.css" />
    <title>Cadastro de Usuario</title>
    <link href="{% static 'estilo.css' %}" rel="stylesheet" type="text/css">

  </head>
<body>
    <h1>CADASTRO DOS USUARIOS</h1>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form_usuario.as_p }}
        <p>É um admim?
            <input type="radio" name="tipo" value="admin" />Sim<br />
        </p>
        <p><input type="submit" class="btn btn-verde" value="Cadastrar"/></p>
    </form>
    <p><a href="{% url 'listar_usuario' %}" class="btn-voltar">Voltar</a></p>
</body>
</html>